# Environment variables
.env

# Poetry
#poetry.lock

# IDE files
.vscode/

# Kiro files
.kiro/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

#scratch md files
DEVELOPMENT_JOURNAL.md
tests/README.md

#uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload
LLM_WRAPPERS_ARCHITECTURE.md
README.md
data/**
docs/**
logs/**