# Environment variables
.env

# Poetry
#poetry.lock

# IDE files
.vscode/

# Kiro files
.kiro/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

#scratch md files
DEVELOPMENT_JOURNAL.md
tests/README.md